<nav-page id="about">

    <!-- content area -->
    <content has-header="true" scroll="true">
        <h2 class="page-title padding">{{title}}</h2>
        <p class="text-center">She Hacks has been an event by <a href="http://www.girlgeeksydney.com">Girl
            Geek Sydney</a>. We would like to thank
                                                                         our sponsors and
            Girl
            Geek
            Sydney volunteeers for helping to organise this event.</p>
        <ul class="list text-center credits-list" ng-repeat="person in people">
            <h4 class="tech-font royal" style=""><b>{{person.name}}</b></h4><span>{{person.desc}}</span>
        </ul>

        <div class="text-center">
            <img src="img/GGD-mag-blue-small.jpg">
        </div>

    </content>

</nav-page>
