<nav-page id="prizes" >

    <!-- content area -->
    <content has-header="true" scroll="true" on-refresh="onRefresh()">

        <refresher></refresher>

        <h2 class="padding cursive-font">> {{title}} <</h2>

        <div class="list">
            <div class="item item-icon-left notransition" ng-repeat="prize in prizes | orderBy:'order'">
                <i class="icon ion-star candy-purple"></i>
                <h2>{{prize.name}}</h2>
                <p>{{prize.desc}}</p>
            </div>
        </div>

        <!--<img src="img/trophy.jpeg"/>-->

    </content>

</nav-page>
