<nav-page id="program">

    <!-- content area -->
    <content has-header="true" scroll="true">
        <h2 class="padding cursive-font">{{title}}</h2>

        <div class="list">
            <div ng-repeat="item in schedule" class="padding-bottom padding-top">
                <div class="item item-divider text-center">
                    <i class="ion-calendar venue-map-icon"></i> {{item.date}}
                </div>
                <div class="item item-text-wrap" ng-repeat="slot in item.program" ng-class="slot.colour">
                    <h2><span class="program-time tech-font" ng-bind-html="slot.time"></span>
                        {{slot.title}}
                    </h2>
                </div>
            </div>
        </div>

    </content>

</nav-page>
