<nav-page id="registration">

    <!-- TODO: GK - not sure about this page at all. Given complete lack of design skills its proving to be HARD! -->
    <!-- content area -->
    <content has-header="true" scroll="true">

        <!--<div class="item item-avatar">-->
            <!--<img src="img/ggdlogo.png">-->
        <div class="hero">
            <i class="fa fa-female hero-icon"></i>
            <h2 class="registration-title">She Hacks Sydney</h2>
            <p>an event by girl geek sydney</p>
        </div>

        <p>A two day hackathon event open to the Girl Geek Sydney community.</p>

        <button class="button button-block button-energized">
            Register on Eventbrite
        </button>
    </content>

</nav-page>
