<nav-page id="sponsors">

    <!-- content area -->
    <content has-header="true" scroll="true">

        <h2 class="padding cursive-font">{{title}}</h2>
        <div class="list">

            <div class="item item-thumbnail-left" ng-repeat="sponsor in sponsors">
                <img ng-src="{{sponsor.src}}">
                <h2>{{sponsor.name}}</h2>
                <a href="http://{{sponsor.link}}" target="_blank">{{sponsor.link}}</a>
            </div>
        </div>
        <p class="padding text-center tech-font">Thank You!</p>

    </content>

</nav-page>
