<nav-page id="venue">

    <!-- content area -->
    <content has-header="true" has-footer="false" scroll="false">
        <h2 class="padding cursive-font">{{title}}</h2>

        <div id="map-canvas"></div>

        <div class="list no-margin-bottom">
            <label class="item item-input candy-purple-bg">
                <div class="item item-icon-left venue-icon-item"><i class="ion-calendar venue-map-icon"></i></div>
                <span class="item-text-wrap"><b>6pm - 12pm</b> on Fri 21st <br><b>9am - 6pm</b> on Sat 22nd</span>
            </label>
            <label class="item item-input candy-purple-bg">
                <div class="item item-icon-left venue-icon-item venue-marker-item"><i
                        class="ion-location venue-marker-icon"></i></div>
                <span class="item-text-wrap">Level 5, Google Sydney, Pyrmont 2009</span>
            </label>
        </div>
        <div class="text-center">
            <img src="img/eventbrite_logo.png" class="eventbrite">
        </div>
    </content>


</nav-page>
