<nav-page id="venue">

    <!-- content area -->
    <content has-header="true" has-footer="false" scroll="false">
        <h2 class="padding cursive-font">> {{title}} <</h2>

        <div ng-show="noNetwork" class="padding">Please connect to a network to view venue map.</div>
        <div ng-hide="noNetwork" id="map-canvas"></div>

        <div class="list">
            <div class="item item-icon-left candy-purple-bg venue-item">
                <i class="icon ion-calendar"></i>
                <b>6pm - 12pm</b> on Fri 21st <br><b>9am - 6pm</b> on Sat 22nd
            </div>
            <div class="item item-icon-left candy-purple-bg venue-item">
                <i class="icon ion-location"></i>
                <b>Google - Wharf 7</b><br>Level TBD, 58 Pirrama Road Pyrmont
            </div>
        </div>
    </content>


</nav-page>
