<nav-page id="venue">

    <!-- content area -->
    <content has-header="true" has-footer="false" scroll="false">
        <!--<i class="icon ion-map"></i>-->
        <h2 class="padding cursive-font">{{title}}</h2>

        <div id="map-canvas"></div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">When</span>
                <span class="item-text-wrap"><b>6pm - 12pm</b> on Fri 21st <br><b>9am - 6pm</b> on Sat 22nd</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Where</span>
                <span class="item-text-wrap">Level 5, Google Sydney, Pyrmont 2009</span>
            </label>
        </div>
        <p class="padding-left padding-right text-center">Further event details can be found
            on <a class="energized" href="#">eventbrite.</a></p>
        <!--<button ng-click="centerOnMe()" class="button button-block button-positive">-->
        <!--show my current location-->
        <!--</button>-->
    </content>


</nav-page>
