@import "ionic/ionic";

.tech-font {
  font-family: $font-family-serif;
}

.cursive-font {
  font-family: $font-family-heading;
}

.page-title {
  //margin:15px 15px 0px 15px;
  //margin-bottom: 0px;
  //margin-top: 15px;
  font-family: $font-family-heading;
}

.item-divider {
  background-color: $candy-pink;
  color: $dark;
}

.item h2 {
  color: $royal;
}

.venue-icon-item {
  border-width: 0px;
  background-color: $candy-purple;
  //padding-right: 70px;
}

.venue-marker-item {
  padding-left: 52px;
}

.venue-marker-icon {
  font-size: 28px;

}

.venue-map-icon {
  font-size: 24px;
}

h2 {
  margin-bottom: 0px;
}
