.app-side-menu {
    border-width: 3px;
}

#map-canvas {
    height: 50%;
    width: 100%;
}

.footer-menu-logo {
    bottom: 0;
}
.bar .title {
    font-size: 16px;
}

.small-text {
    font-size: 12px;
}
.small-line-height {
    line-height: 26px;
}

.credits-list {
    margin-bottom: 0px;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}
.float-left {
    float:left;
}
.float-right {
    float: right;
}
.program-image {
    width: 30%;
}
.venue-item {
    font-size: 14px;
}


@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(../fonts/ShareTechMono-Regular.woff) format('woff');
}
@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: local('ABeeZee'), local('ABeeZee-Regular'), url(../fonts/ABeeZee-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), url(../fonts/Lobster.woff) format('woff');
}


