.app-side-menu {
    border-width: 3px;
}

#map-canvas {
    height: 50%;
    width: 100%;
}

.footer-menu-logo {
    bottom: 0;
}
.bar .title {
    font-size: 14px;
}

.credits-list {
    margin-bottom: 0px;
}


