.item-menu {
    border-width: 3px;
}

#map-canvas {
    height: 40%;
    width: 100%;
}

/*.bar .title {*/
    /*font-size: 14px;*/
    /*font-family: 'Share Tech Mono', sans-serif;*/
    /*font-weight: bold;*/
/*}*/

