#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

#map-canvas {
    height: 40%;
    width: 100%;
}

.bar .title {
    font-size: 14px;
    font-family: 'Share Tech Mono', sans-serif;
    font-weight: bold;
}

/* TODO: GK Use less instead of this hacky css*/
body {
    font-family: 'Share Tech Mono', sans-serif;
}

h3 {
    font-family: 'Share Tech Mono', sans-serif;

}

/*http://www.colourlovers.com/palette/411632/Candy_Almond_Rainbow*/
.candy-pink {
    background-color: #F39DD4;
}
.candy-lav {
    background-color: #DBBAE5;
}
.candy-blue {
    background-color: #B8D0DD;
}
.candy-green {
    background-color: #B7E3C0;
}
.candy-yellow {
    background-color: #F8F087;
}
.candy-grey {
    background-color: #dddddd;
}

/*http://www.colourlovers.com/palette/7315/Pop_Is_Everything*/
.fluro-pink {
    background-color: #FF00AA;
}
.fluro-purple {
    background-color: #AA00FF;
}
.fluro-blue {
    background-color: #00AAFF;
}
.fluro-green {
    background-color: #AAFF00;
}
.fluro-orange {
    background-color: #FFAA00;
}

.item-menu {
    border-width: 3px;
}
/*http://www.colourlovers.com/palette/1250813/Pastel_Rainbow*/
