#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

#map-canvas {
    height: 40%;
    width: 100%;
}

.bar .title {
    font-size: 14px;
    font-family: 'Share Tech Mono', sans-serif;
}

.candy-pink {
    background-color: #F39DD4;
}
.candy-lav {
    background-color: #DBBAE5;
}
.candy-blue {
    background-color: #B8D0DD;
}
.candy-green {
    background-color: #B7E3C0;
}
.candy-yellow {
    background-color: #F8F087;
}
