#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

#map-canvas {
    height: 40%;
    width: 100%;
}

.bar .title {
    font-size: 14px;
    font-family: 'Share Tech Mono', sans-serif;
}
